<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="onSubmit(shoppingForm)" #shoppingForm="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input id="name"
                 name="name"
                 type="text"
                 class="form-control"
                 ngModel
                 required>
        </div>

        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input id="amount"
                 name="amount"
                 type="number"
                 class="form-control"
                 ngModel
                 required
                 pattern="^[1-9]+[0-9]*$">
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success"
                  [disabled]="shoppingForm.invalid"
                  type="submit">
            {{ !isEditMode ? 'Add' : 'Edit' }}
          </button>

          <button class="btn btn-danger"
                  [disabled]="!isEditMode"
                  (click)="onDelete()"
                  type="button">
            Delete
          </button>

          <button class="btn btn-primary"
                  (click)="onClear()"
                  type="reset">
            Clear
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
